body{
    background-color: rgb(10, 10, 10);
}

header{
    background-image: url(images/rayos.gif);
    background-size:cover;
    background-repeat: no-repeat;
    height: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;

}
.header_img{

    width: 400px;
    height: 400px;
}

.header_titulo{

    flex-wrap: wrap;
    color: #e6d36b;
    font-size: 55px;
    font-weight: bold;
    font: helvetica, arial, sans-serif;

}


.navbar{
    height: 200px;
    width: auto;
    color: aqua;
    height: 50px;
}

.ulnav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ulnav li{
    list-style: none;
    margin : 0px;
    font-weight: bold;

}


.my-button {
    
    color: rgb(94, 99, 54);
    font-size: 25px;
    cursor:pointer;
    background-color: #1d1901;
    border:none;
    height: 80px;
    width: 300px;
    font-weight:500;
    border-style: absolute;
}

.my-button:hover {
    background-color: #7e6e18;
}

.container{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #e6d36b;
    text-decoration: underline;
}